
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote-bs4.css');

// Variables
@import 'variables';
@import '_modules/icons';
@import '_modules/page-headers';
@import '_modules/notifications';

// Bootstrap
@import "~bootstrap/scss/functions";
@import '~bootstrap/scss/bootstrap';

// Status badges partials 
/// Pending badge
.badge-Pending {
  color: $white;
  background-color: $secondary;
}

.fe-Pending:before {
  content: "\e936";
}

/// Accepted badge
.badge-Accepted {
  color: $white;
  background-color: $success;
}

.fe-Accepted:before {
  content: "\e92b";
}

/// Rejected badge
.badge-Rejected {
  color: $white;
  background-color: $danger;
}

.fe-Rejected:before {
  content: "\ea01";
}

// Navbar partial
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Buttons partial 
.btn-outline-facebook {
  @include button-outline-variant(#3b5998);
}

.btn-outline-twitter {
  @include button-outline-variant(#1da1f2);
}

a.disabled {
  /* Make the disabled links grayish*/
  color: gray;
  /* And disable the pointer events */
  pointer-events: none;
}

// Stamp partial 
.stamp {
  color: #fff;
  background: #868e96;
  display: inline-block;
  min-width: 2rem;
  height: 2rem;
  padding: 0 .25rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 3px;
  font-weight: 600;
}

.stamp-md {
  min-width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
}

.row-cards > .col,
.row-cards > [class*='col-'] {
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
}

// Footer partial
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; // Margin bottom by footer height
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; // Set the fixed height of the footer here
  line-height: 60px; // Vertically center the text there
  background-color: darken($body-bg, 2%);
}

// Hyperlink partial
.no-underline {
  text-decoration: none !important;
}